<div style="z-index: 1100;" class="modal fade" id="confirmModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
	aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="confirmModal.onClose()">&times;</button>
				<h4 class="modal-title" id="confirmModalLabel" ng-bind="confirmModal.title"></h4>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<ul ng-if="confirmModal.config.message.type === 'array'">
							<li ng-repeat="item in confirmModal.message" ng-bind="item"></li>
						</ul>
						<span ng-if="confirmModal.config.message.type === 'text'" style="font-size: 15px;" ng-bind="confirmModal.message"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="confirmModal.onClose()" ng-hide="confirmModal.getButtonConfig('close').hide" ng-bind="confirmModal.getButtonConfig('close').label"></button>
				<button type="button" class="btn btn-primary" ng-click="confirmModal.onSubmit()" ng-hide="confirmModal.getButtonConfig('confirm').hide" ng-bind="confirmModal.getButtonConfig('confirm').label"></button>
			</div>
		</div>
	</div>
</div>